body {
    font-family: Helvetica, Arial, Verdana, sans-serif;
}

.freesheet-template {
    display: none;
}
.freesheet-template.rendered {
    display: inherit;
}

.freesheet-worksheets, .freesheet-worksheet {
    margin-top: 2em;
}

.freesheet-worksheets.hidden .freesheet-worksheet {
    display: none;
}

.freesheet-worksheets>button.show {
    display: none;
}

.freesheet-worksheets.hidden>button.hide {
    display: none;
}

.freesheet-worksheets>button.hide {
    display: inherit;
}

.freesheet-worksheets.hidden>button.show {
    display: inherit;
}

.handsontable td.value-cell {
    padding: 1px 4px;
}

table.value {
    border-collapse: collapse;
}

table.value td {
    padding: 1px 3px;
}