body {
    font-family: Helvetica, Arial, Verdana, sans-serif;
}

.handsontable td.value-cell {
    padding: 1px 4px;
}

table.value {
    border-collapse: collapse;
}

table.value td {
    padding: 1px 3px;
}