body {
    font-family: Helvetica, Arial, Verdana, sans-serif;
}

h1 {
    font-size: 30px;
}

.worksheet-section {
    margin-top: 2em;
}

.worksheet-name {
    border: 1px solid gray;
    padding: 0.2em 0.5em;
    display: inline-block;
}

.sheetActions {
    margin-top: 2em;
}