/* Freesheet editing page styles */

body {
    font-family: Helvetica, Arial, Verdana, sans-serif;
}

h1 {
    font-size: 30px;

}

.worksheet-section {
    margin-top: 2em;
}

.worksheet-section pre {
    line-height: 1.65;
}

.nav>li>a.worksheet-name {
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    cursor: inherit;
}
.sheetActions {
    margin-top: 2em;
}

.page-name>button {
    margin-left: 1.5em;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

