body {
    font-family: Helvetica, Arial, Verdana, sans-serif;
}

table.worksheet {
    border: 1px solid gray;
    border-collapse: collapse;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    font-size: 0.8em;
}

table.worksheet tr {
    height: 1.5em;
}

table.worksheet td, table.worksheet th {
    border: 1px solid gray;
    min-width: 10em;
}
table.worksheet tbody td, table.worksheet tbody th {
    padding: 2px 4px;
    text-align: left;
    vertical-align: top;
    font-weight: normal;
}

table.worksheet input {
    border: none;
    font-size:  inherit;
}

table.worksheet .actions span {
    min-width: 5em;
    margin-left: 1em;
    background-color: #bfeaf4;
    font-weight: normal;
    font-size: 0.8em;
    padding: 1px 2px;
    border: 1px solid gray;
    border-radius: 4px;
}

table.worksheet .actions span.insert:before {
    content: "Insert";
}

table.worksheet .actions span.delete:before {
    content: "Delete";
}

table.value {
    border-collapse: collapse;
}

table.value td {
    min-width: 3em;
}